* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
header {
    
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.164), -10px -10px 10px rgba(0, 0, 0, 0.164);
}
header a {
    text-decoration: none;
}
header li {
    display: inline-block;
    margin: 10px;
}
#homepage {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.text1 {
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 450px;
}
.workh2{
    
        display: flex;
        justify-content: center;
}    
.workh2 h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: solid 2px black;
    padding: 0 10px;
}
#workpage {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.text2 {
    font-weight: 400;
    font-size: larger;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 350px;
}
.abouth2 {
    display: flex;
    justify-content: center;
}
.abouth2 h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: solid 2px black;
    padding: 0 10px;
}
#aboutpage {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.text3 {
    font-weight: 400;
    font-size: larger;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 450px;
}
.contacth2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contacth2 h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: solid 2px black;
    padding: 0 10px;
}
#contactpage {
    margin-top: 100px;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.text4 {
    font-weight: 400;
    font-size: larger;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 450px;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;  
}
#menu-icons {
    display: none;
}
/*                 Mobile 720px             */
@media screen and (max-width: 720px) {
    nav {
        display: none;
    }
    #homepage {
        display: flex;
        justify-content: center;
    }
    .text1 {
        width: 450px;
        border-radius: 5px;
        padding: 15px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.164), -10px -10px 10px rgba(0, 0, 0, 0.164);
    }
    .lottieimg {
        border-radius: 5px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.164), -10px -10px 10px rgba(0, 0, 0, 0.164);
        height: 350px;
    }
    .text2 {
        padding: 15px;
        width: 450px;
        border-radius: 5px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.164), -10px -10px 10px rgba(0, 0, 0, 0.164);
    }
    .worklottie {
        border-radius: 5px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.164), -10px -10px 10px rgba(0, 0, 0, 0.164);
        height: 350px;
    }
    #aboutpage {
        height: 80vh;
        display: flex;
        justify-content: center;
    }
    .text3 {
        margin: 40px;
        padding: 15px;
        width: 450px;
        border-radius: 5px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.164), -10px -10px 10px rgba(0, 0, 0, 0.164);
    }
    .aboutlottie {
        height: 80vh;
        border-radius: 5px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.164), -10px -10px 10px rgba(0, 0, 0, 0.164);
        height: 450px;
    }
    .contacth2{
        margin-top: 400px;
    }
    #contactpage {
        margin-top: 40px;
        height: 80vh;
        display: flex;
        justify-content: center;
    }
    .text4 {
        margin: 40px;
        padding: 15px;
        width: 450px;
        border-radius: 5px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.164), -10px -10px 10px rgba(0, 0, 0, 0.164);
    }
    .contactlottie {
        height: 80vh;
        border-radius: 5px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.164), -10px -10px 10px rgba(0, 0, 0, 0.164);
        height: 450px;
    }
    #menu-icons {
        display: flex;
        justify-content: space-around;
        width: 100%;   
    }
    #menu-icons img {
        width: 100%;
        max-width: 20px;
    }
    #menu-mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #fff;
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-content: center;
        border-radius: 1.25rem 1.25rem 0 0;
        transition: .4s;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.164), -10px -10px 10px rgba(0, 0, 0, 0.164);
    }
    .copy {
        height: 30vh;
        margin-top: 50px;
    }
}